---
interface Props {
	title?: string
	description: string
	banner?: {
		url?: string
		alt?: string
		width?: number
		height?: number
	}
}

const { title, description, banner } = Astro.props
const {
	url: bannerUrl = 'https://kognise.dev/banner.gif',
	alt: bannerAlt = 'An animated GIF of Nausicaä, an anime character, flying a glider over sand and into the sky.',
	width: bannerWidth = 433,
	height: bannerHeight = 173
} = banner || {}
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<title>{title ? `${title} | Kognise` : 'Kognise!'}</title>
<meta property='og:title' content={title ?? 'Kognise'} />
<meta property='og:site_name' content='Kognise' />

<meta name='description' content={description} />
<meta property='og:description' content={description}>

<meta property='og:url' content={canonicalURL} />
<link rel='canonical' href={canonicalURL} />

<meta property='og:image' content={bannerUrl} />
<meta property='og:image:alt' content={bannerAlt} />
<meta property='og:image:width' content={bannerWidth.toString()} />
<meta property='og:image:height' content={bannerHeight.toString()} />

<meta name='robots' content='index,follow' />
<meta name='googlebot' content='index,follow' />
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:site' content='@kognise' />
<meta name='twitter:creator' content='@kognise' />
<meta property='og:type' content='website' />
<meta property='og:locale' content='en_US' />

<meta name='keywords' content='kognise,website,personal,portfolio,projects,about,contact,info,developer,designer,resume' />
<meta name='theme-color' content='#0e7dde' />
<link rel='icon' href='https://media.kognise.dev/logos/pfp.png' />

<link rel='sitemap' href='/sitemap-index.xml' />
